/*Change first word*/
.article-section:first-of-type {
	font-weight: bold;
}
/*Change last word*/
.article-section:last-of-type {
	font-weight: bold;
	font-style: italic;
}
/*Change button display*/
button {
	display: block;
}